body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: burlywood;
    color: brown;
}

h1{
    color: cadetblue;
    font-size: 36px;
}

.centrado{
    text-align: center;
    padding: 20px;
}

.logo{
    width: 400px;
}